<footer>

  <h2>About</h2>

  <p>A personal project to share code with colleagues and workmates.</p>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend:site.baseurl }}">via RSS</a></p>

  {%- assign social = site.social_links -%}
  <p>
    twitter: <a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}">@casasprunes</a><br/>
    github: <a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}">github.com/casasprunes</a><br/>
    linkedin: <a rel="me" href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}" title="{{ social.linkedin | escape }}">linkedin.com/in/casasprunes</a>
  </p>

  <div class="license">
    Copyright Code Parts © 2020
  </div>

</footer>
