<footer>

  <h2>About</h2>

  <p>A Blog about Kotlin, Kafka and Programming tutorials</p>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend:site.baseurl }}">via RSS</a></p>

  <p>
    twitter: <a rel="me" href="{{ site.social.twitter }}" title="@casasprunes">@casasprunes</a><br/>
    github: <a rel="me" href="{{ site.social.github }}" title="github.com/casasprunes">github.com/casasprunes</a><br/>
    linkedin: <a rel="me" href="{{ site.social.linkedin }}" title="linkedin.com/in/casasprunes">linkedin.com/in/casasprunes</a>
  </p>

  <div class="license">
    Copyright Code Parts © 2020
  </div>

</footer>
