<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "url": "{{ prepend: site.baseurl | prepend: site.url }}",
        "headline": "{{ site.title }}",
        "about": "{{ site.description | strip_newlines }}",
        "isAccessibleForFree": "True",
        "isPartOf": {
            "@type": ["CreativeWork", "Product"],
            "name": "{{ site.organization.name }}",
            "productID": "{{ site.product_id }}"
        },
        "discussionUrl": "https://twitter.com/search?f=tweets&vertical=default&q=to%3Acasasprunes&l=en&src=typd",
        "inLanguage": "en-US",
        "license": "http://creativecommons.org/licenses/by-sa/4.0/",
        "additionalType": "CreativeWork",
        "alternateName": "{{ site.organization.name }}"
    }
</script>
