<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "url": "{{ prepend: site.baseurl | prepend: site.url }}",
        "headline": "{{ site.title }}",
        "about": "{{ site.description | strip_newlines }}",
        "isAccessibleForFree": "True",
        "isPartOf": {
            "@type": ["CreativeWork", "Product"],
            "name": "Code Parts",
            "productID": "{{ site.product_id }}"
        },
        "discussionUrl": "https://twitter.com/search?f=tweets&vertical=default&q=to%3Acasasprunes&l=en&src=typd",
        "author": {
            "@type": "Person",
            "name": "Pau Casas Prunés",
            "description": "I am an experienced Software Engineer with 10+ years of strong hands-on experience in the JVM stack with Kotlin, Groovy and Java. Advocate and practitioner of Lean/Agile principles and best practices in Software Development like Pair Programming, TDD, Refactoring, Simple Design, Trunk Based Development, CI/CD among others.",
            "givenName": "Pau",
            "familyName": "Casas Prunés",
            "url": "{{ prepend: site.baseurl | prepend: site.url }}",
            "sameAs" : [
                "https://twitter.com/{{ site.social_links.twitter }}",
                "https://github.com/{{ site.social_links.github }}",
                "https://www.linkedin.com/in/{{ site.social_links.linkedin }}"
            ]
        },
        "inLanguage": "en-US",
        "license": "http://creativecommons.org/licenses/by-sa/4.0/",
        "additionalType": "CreativeWork",
        "alternateName": "Code Parts",
        "publisher": {
            "@type": "Organization",
            "name": "Code Parts",
            "description": "A personal project to share code with colleagues and workmates.",
            "sameAs": "{{ prepend: site.baseurl | prepend: site.url }}"
        }
    }
</script>
