body, h1, h2, h3, p, pre, ul, figure {
  margin: 0;
  padding: 0;
}

h1, pre, p, ul, %vertical-rhythm {
  margin-bottom: $spacing-unit / 3;
}

p {
  line-height: 1.35;
}

.post h2 {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 0.5;
  font-size: $base-font-size * 1.5;
}

.post h3 {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 0.5;
  font-size: $base-font-size * 1.25;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $text-color;
  }
}

.wrapper {
  max-width: $content-width - ($spacing-unit * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @include media-query($on-palm) {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

main {
  min-height: 500px;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
