footer {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  margin-top: $spacing-unit;
  background-color: #2b2b2b;
  color: #888;

  a, a:visited {
    color: #888;
  }

  a:hover {
    color: #fff;
  }
}

.license {
  margin-top: $spacing-unit;
  color: $grey-color;
}

.footer-list {
  @include media-query($on-palm) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-list-item {
  padding: $spacing-unit / 2 0;
  width: 100%;

  @include media-query($on-palm) {
    width: 20%;
  }
}

@include media-query($on-palm) {
  .footer-list-item:first-child {
    width: 50%;
  }
}

.footer-list-item-title {
  font-weight: bold;
  color: #fff;
}

.rss-subscribe {
  margin-top: $spacing-unit;
}
