.post-list {
  list-style: none;
}

.post-list-item {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;

  ul {
    margin-bottom: $spacing-unit / 3;
    list-style-type: disc;
  }

  h2 {
    line-height: 1;
    margin-bottom: $spacing-unit / 3;
  }
}

.post-list ul, .post ul {
  margin-left: $spacing-unit;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin: 0;
}

.post .post-meta {
  margin-bottom: $spacing-unit * 0.5;
}

.post-link {
  font-size: $base-font-size * 1.35;
  font-weight: 500;
  color: $text-color !important;
}

.post-header {
  margin-bottom: $spacing-unit / 2;
}

.post-title  {
  font-size: $base-font-size * 3.5;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 300;
  margin-top: $spacing-unit * 1.5;

  @include media-query($on-laptop) {
    font-size: $base-font-size * 2.5;
  }
}

.post-title:first-line {
  font-weight: bold;
}

a.post-tag {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  background: #2b2b2b;
  padding: 5px;
  border-radius: 3px;

  &:hover {
    background: $brand-color;
    color: #fff;
  }
}
