.post-author {
  margin: $spacing-unit 0;
  border-left: 4px solid #C4C2C2;
  padding-left: $spacing-unit / 2;
}

blockquote {
  font-style: italic;
  color: $grey-color;
  border-left: 3px solid #C4C2C2;
  margin: 0;
  margin-bottom: $spacing-unit;

  p {
    padding-left: $spacing-unit / 3;
  }
}

.post-list {
  @include media-query($on-palm) {
    display: flex;
    justify-content: space-between;
  }
}

.post-list-item {
  margin-top: $spacing-unit;
  width: 100%;

  h2 {
    line-height: 1;
    margin-bottom: $spacing-unit / 3;
  }

  @include media-query($on-palm) {
    width: 48%;
  }
}

.post-read {
  font-style: italic;
}

.post ul {
  margin-left: $spacing-unit;
}

.post img {
  width: 100%;
  margin: (($spacing-unit / 3) * 2)  0;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin: 0;
}

.post .post-meta {
  margin-bottom: $spacing-unit * 0.5;
}

.post-link {
  font-size: $base-font-size * 1.35;
  font-weight: 500;
  color: $text-color !important;
}

.post-header {
  margin-bottom: $spacing-unit / 2;
}

.post-title, .author-title  {
  font-size: $base-font-size * 2;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 300;
  margin-top: $spacing-unit * 1.5;

  @include media-query($on-palm) {
    font-size: $base-font-size * 3.5;
  }
}

.author-title {
  font-size: $base-font-size * 3;

  @include media-query($on-palm) {
    font-size: $base-font-size * 3.5;
  }
}

.post-title:first-line, .author-title:first-line {
  font-weight: bold;
}

a.post-tag {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  background: #2b2b2b;
  padding: 5px;
  border-radius: 3px;

  &:hover {
    background: $brand-color;
    color: #fff;
  }
}

.collage img {
    margin: 0;
}

.collage {
    line-height: 0;
}

.pink-border {
    border-radius: 5px;
    border: 5px solid #f7b1a6;
}
