table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: $spacing-unit / 2;
}

th, td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  text-align: left;
}

tr:nth-child(2n) {
    background-color: #f6f8fa;
}
