---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <a itemprop="mainEntityOfPage" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" class="post-link">
      <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
    </a>

    <meta itemprop="headline" content="{{ page.title }}" />
    <meta itemprop="image" content="{{ site.organization.logo | prepend: site.url }}" />
    <meta itemprop="description" content="{{ page.excerpt }}" />
    <meta itemprop="isAccessibleForFree" content="True" />
    <meta itemprop="license" content="http://creativecommons.org/licenses/by-sa/4.0/" />

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      <meta itemprop="dateModified" content="{% if page.modified %}{{page.modified}}{% else %}{{page.date}}{% endif %}" />
    </p>

    <div>
    {% for tag in page.tags %}
      <a href="{{ '/tag/' | append:tag }}" class="post-tag" rel="tag">{{ tag }}</a>
    {% endfor %}
    </div>
  </header>

  {% if page.author %}
  {% assign author = site.authors | map: page.author %}
  <div class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span>by <a href="{{ site.baseurl | prepend: site.url }}/authors/{{ page.author }}"><span itemprop="name">{{ author }}</span></a></span>
  </div>
  {% endif %}

  <div itemprop="articleBody">{{ content }}</div>

  <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{ site.organization.name }}" />
    <meta itemprop="description" content="{{ site.organization.description }}" />
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="{{ site.organization.logo | prepend: site.url }}" />
    </div>
  </div>
</article>
